/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1352px) {
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media only screen and (max-width: 1280px) {
	.step_item{padding: 55px 0;}
		.step_item .img_box{
			width: 35%;
			line-height: 70px;
		}
		.step_info{
			width: 65%;
			font-size: 21px;
		}

}

@media only screen and (max-width: 1200px) {
	.col_30{
		width: 30.8%;
	}

	.star_box .img_box{
		height: 208px;
	}

	.star_popup .video_box{
		width: 991px;
		height: 550px;
	}

}

@media only screen and (max-width: 1100px) {
	body{
		font-size: 20px;
	}
	.col_30{
		width: 30.5%;
	}

	.star_box .img_box{
		height: 173px;
	}

	.footer__list__item:not(:last-child){
		padding-right: 5px;
	}
		.footer__list__item:not(:last-child)::after{margin-left: 10px;}
		.footer__list__item a,
		.footer__list__item:last-child a{
			font-size: 12px;
		}

	.main_video{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
		.main_video .img_box img{
			width: 100%;
		}
	
}

@media only screen and (max-width: 1024px) {
	
	.step_info{
		font-size: 20px;
	}

	.star_popup .video_box{
		width: 667px;
		height: 375px;
	}

	.step_item .img_box{
		line-height: 60px;
	}

}

@media only screen and (max-width: 995px) {
 body{min-width:768px;}
	.col_70{
		width: 62%;
	}
}


@media only screen and (max-width: 934px) {

	.col_wrap{
		margin-left: -10px;
		margin-right: -10px;
	}
		.col_70{
			margin-left: 10px;
			margin-right: 10px;
		}
		
		.col_30,
		.col_50{
			margin-left: 10px;
			margin-right: 10px;
		}

	.star_box .img_box{
		height: 158px;
	}

	.request_form{
		width: 100%;
	}

	.footer__list{
		text-align: center;
	}
		.footer__list__item:not(:last-child),
		.footer__list__item:last-child{
			
		}

		.footer__list__item:first-child{
			width: 100%;
			padding-bottom: 26px;
			position: relative;
		}
		.footer__list__item:first-child::after{
			position: absolute;
			top: 20px;
			left: 50%;
		}
	
	header{
		padding: 10px 0;
	}

	.logo{
		width: 210px;
		height: 52px;
	}
	.logo a{
		-webkit-background-size: 100% 100%;
		     -o-background-size: 100% 100%;
		        background-size: 100% 100%;
	}


	.step_info{
		font-size: 16px;
	}

	.content_indent{padding: 15px 0 5px;}

	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	

	.accordion{
		width: 100%;
	}


}

@media only screen and (max-width: 880px) {
	

	.request_form{
		width: 100%;
	}

	.title--1{font-size: 60px;}
	.mainslider--title{
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}
	
}

@media only screen and (max-width: 768px) {
	
	.col_50{
		width: 46%;
	}

	.col_30.step_item{
		width: 98%;
		float: none;
		padding: 25px 0;
	}

		.step_item .img_box{
			width: 50%;
			text-align: right;
		}

		.step_info{
			font-size: 20px;
			width: 50%;
		}

	.star_box{
		margin-bottom: 15px;
	}

	.star_box.col_30{
		width: 47%;
	}
	.star_box .img_box{
		width: 100%;
		height: auto;
	}

	.col_70 + .star_box.col_30{
		width: 38%;
	}

	.col_70{
		width: 56%;
	}

	.info_popup{
		padding: 40px 20px 20px;
	}

	.cont_pad{padding: 80px 0 0 0 !important;}

	.title--1_1{
		font-size: 40px;
		line-height: 1.5;
	}

	.mainslider .owl-page{
		width: 11px;
		height: 11px;
		background: #676767;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	}

	.mainslider{
		padding-bottom: 20px;
	}
	.mainslider .owl-controls{bottom: -25px;}

	.mainslider__item{
		height: 265px;
		overflow: hidden;
		text-align: center;
	}
		.mainslider__item img{
			height: 100%;
			width: auto;
		}
		.mainslider--title{
			top: 75%;
		}


	.title--1{
		font-size: 30px;
	}

	header .title--1_1 br{display: block;}
	header .title--1_1{
		font-size: 30px;
		line-height: 1;
		text-align: right;
	}
}


@media only screen and (max-width: 767px) {
 body{min-width:420px;}

	.star_popup .video_box{
		width: 500px;
		height: 280px;
	}
}

@media only screen and (max-width: 668px) {
	.col_wrap{
		margin-left: 0;
		margin-right: 0;
	}
	.col_30,
	.col_50,
	.col_70,
	.star_box.col_30,
	.col_70 + .star_box.col_30{
		width: 100%;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.star_box .img_box{
		max-height: 100%;
	}
		.star_box .img_box img{
			width: 100%;
			height: auto;
		}

	.main_video .img_box::before{
		width: 71px;
		height: 79px;
		background-image: url(../images/icon/play.png);
	}

	.main_video .img_box:hover::before{
		background-image: url(../images/icon/play2.png);
	}

	.email .container{
		width: 100%;
	}

	.email .logo{padding-top: 0;}

	.img_container_email{
		overflow: hidden;
		text-align: center;
	}
		.img_container_email img{
			height: 220px;
			width: auto;
		}

		.img_container_email--title{font-size: 32px;}

		.email_text{padding: 40px 0 55px;}
	
	.accordion + div + div.mb160{margin-bottom: 30px;}

}

@media only screen and (max-width: 570px) {
	

	

	.star_popup .video_box{
		width: 300px;
		height: 180px;
	}

	.accordion_item .sub-menu{
		padding: 20px 15px;
	}
}

@media only screen and (max-width: 479px) {
	body{min-width:300px;}

	.step_info{
		font-size: 18px;
		width: 63%;
	}
	.step_item .img_box{
		width: 30%;
		padding: 0;
		margin-right: 15px;
	}

	.title--2{
		font-size: 36px;
		line-height: 1;
	}

	p{
		font-size: 18px;
	}

	p[data-color="white"] br{display: none;}


	.form__radio{
		margin-left: 0;
	}
	.form__radio--text{
		padding-left: 38px;
	}

	.form__checkbox{
		width: 100%;
		margin-bottom: 10px;
	}
	.form__checkbox a{
		width: calc(100% - 40px);
		display: inline-block;
		line-height: 1;
	}

	.form_description{
		line-height: 1;
	    margin-left: 0;
	    display: inline-block;
	    font-size: 14px;
	    margin-bottom: 20px;
	    margin-top: -30px;
	}

	.page_bottom .al_right{
		text-align: center;
	}
		.page_bottom .up{
			display: inline-block;
			width: 100%;
			text-indent: -999px;
			background: url(../images/icon/arrow_up2.png) 50% 50% no-repeat;
		}


	.star_popup--name{
		padding: 8px 10px 11px;
	}
	.arcticmodal-close{
		right: 10px;
		top: 10px;
	}

	.star_popup .video_box{
		width: 270px;
	}

	.btn1.mb160{
		margin-bottom: 20px;
	}

	.feedback{
		width: 100%;
	}

	.mainslider__item img{
	    margin-left: -75%; 
	    transform: translateX(25%);
	}

	.logo a{}
		.logo a{
			background-image: url(../images/logo_img.png);
			-webkit-background-size: auto 100%;
			     -o-background-size: auto 100%;
			        background-size: auto 100%;
		}

		.logo a::before{
			content: "";
			position: absolute;
			width: 120px;
			height: 25px;
			display: block;
			left: 50px;
			bottom: 5px;
			background: url(../images/logo_text.png) 50% 50% no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

		.logo::after{
			display: none;
		}
}

@media only screen and (max-width: 320px) {
	header .title--1_1{
		font-size: 20px;
		line-height: 1.2;
		display: none;
	}

	.logo{
		width: 155px;
		height: 52px;
		padding-top: 5px;
		padding-bottom: 5px;
	}


	.step_item .img_box{
		text-align: center;
		line-height: 65px;
		width: 31%;
	}
		.step_item .img_box img{
			width: 75%;
		}
}