@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
/*@import "../css/owl.carousel.css";*/
/*@import "../css/jquery.arcticmodal.css";*/
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'corporateacon', Helvetica, sans-serif;
  font-size:26px;
  line-height:;
  color:#000;
  min-width:960px;
  background: #000;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a {
    color:#;
    outline:none;
    text-decoration:none;
    cursor:pointer;
  }
  a:hover{
    color:#;
    text-decoration:none;
  }

  .btn{
    display:inline-block;
    padding:0 0 0;
    margin: 0 0 0;
    font-size: px;
    line-height: px;
    color:#;
   }
  .btn:hover{
    background:;
    color:#000;
  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

[data-color="white"]{color: #FFF;}
[data-color="black"]{color: #000;}


[data-bg="white"]{background-color: #fff;}
[data-bg="grey"]{background-color: #1C1C1C;}


.td_und{text-decoration: underline;}
a.td_und:hover{text-decoration: none;}



/*======================> Header <======================*/

  header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 22px 0;
    background-color: rgba(0, 0, 0, .5);
  }
    .logo{
      width:255px;
      float: left;
      height:64px;
      position: relative;
    }
    .logo::after{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #666;
      height: 30px;
      width: 1px;
    }
      .logo a{
        display:block;
        height: 100%;
        background:url(../images/logo.png) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }
    header .title--1_1 br{display: none;}


/*=====================> Content ========================*/
#content {padding: 0px 0px 0px 0px; min-height: 500px;}
.cont_pad{padding: 108px 0 0 0 !important;}
.content_indent{padding: 65px 0 45px;}

.col_wrap{
  margin-left: -14px;
  margin-right: -14px;
}
.col_30{
  width: 31%;
  margin-left: 14px;
  margin-right: 14px;
}

.block_imag_email{
  /*width: 600px;*/
}
.email_text{
  text-align: left;
  padding: 48px 30px 55px 55px;
  font-family: Arial, sans-serif;
}
  .email_text h5{
    font-size: 18px;
  }

  .email_text p{
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.5;
  }

.img_container_email{
  max-width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

  .col_70{
    width: 64%;
    margin-left: 14px;
    margin-right: 14px;
  }

  .col_50{
    width: 46.5%;
    margin-left: 14px;
    margin-right: 14px;
  }

/*--------------  Main Slider  ------------*/
  .mainslider{}

  .mainslider__item{
    
  }

    .mainslider__item img{
      /*max-width: 100%;*/
      height: auto;
    }

    .mainslider--title{
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%);
    }

    .mainslider .owl-controls{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      display: inline-block;
    }

      .mainslider .owl-pagination{
        text-align: center;
      }

      .mainslider .owl-page{
        display: inline-block;
        width: 60px;
        height: 3px;
        margin: 0 5px;
        background: #fff;
      }
      .mainslider .owl-page.active{
        background: #00ADEF;
      }


/*--------------  Star box  ------------*/
  .star_box{
    margin-bottom: 65px;
  }
    .star_box .img_box{
      max-height: 243px;
      position: relative;
      text-align: center;
      margin-bottom: 15px;
      display: inline-block;
    }
      .star_box .img_box::before,
      .main_video .img_box::before{
        content: "";
        width: 73px;
        height: 81px;
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        background: url(../images/icon/play.png) 0 0 no-repeat;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .star_box .img_box:hover::before{
        background-image: url(../images/icon/play_act.png);
      }

      .star_box .img_box img{
        height: 100%;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        
      }
    .star_box p{margin-bottom: 0;}



/*--------------  Main VIDEO  ------------*/

  .main_video{
    position: relative;
    width: 1082px;
    margin-left: auto;
    margin-right: auto;
  }

    .main_video .img_box{
      text-align: center;
      display: inline-block;
      margin-bottom: 30px;
      position: relative;
    }

    .main_video p{
      color: #FFF;
      position: absolute;
      bottom: 70px;
      left: 0;
      right: 0;
      text-align: center;
    }

    .main_video .img_box::before{
      width: 141px;
      height: 160px;
      background-image: url(../images/icon/play2.png);
    }
    .main_video .img_box:hover::before{
      background-image: url(../images/icon/play2_act.png);
    }




/*--------------  Arcticmodals  ------------*/
  .arcticmodal_container_box.star_popup{
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .arcticmodal-close{
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 15px;
    z-index: 10;
    background: url(../images/icon/close.png) 50% 50% no-repeat;
  }
  .btn1.arcticmodal-close{
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    background-image: none !important;
  }

    .star_popup .video_box{
      width: 1200px;
      height: 700px;
      margin-bottom: 35px;
      position: relative;
    }

      .star_popup--name{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: #FFF;
        font-weight: normal;
        padding: 13px 15px 17px;
        background-color: #000;
      }

      .ytp-title-text{
        display: none !important;
      }
  
  .info_popup{
    padding: 80px;
    background-color: #FFF;
    position: relative;
  }

    .info_popup .arcticmodal-close{
      background-image: url(../images/icon/close2.png);
    }

    .info_popup p{
      font-size: 14px;
      font-family: 'corporates';
    }

/*--------------  Steps  ------------*/
  
    .step_item{
      padding: 85px 0;
    }
      .step_item .img_box{
        width: 40%;
        float: left;
        text-align: center;
        padding: 0 20px;
        line-height: 85px;
      }
        .step_item .img_box img{
          max-width: 100%;
          vertical-align: middle;
        }
      .step_info{
        width: 60%;
        line-height: 1.2;
        float: left;
      }


/*--------------  Form  ------------*/
  .form{
    font-family: 'corporates';
    font-size: 16px;
    color: #FFF;
  }
    .form input,
    .form textarea{
      color: #FFF;
      width: 100%;
      font-size: 16px;
      padding: 7px 19px;
      outline: none;
      background-color: #000;
      border: 1px solid #808080;
      font-family: 'corporates';
    }
    .form textarea{
      min-height: 120px;
      resize: none;
    }
    .form__row{}

    .form__label{}

  .request_form{
    width: 816px;
  }
    .request_form .form__row--radio{
      display: inline-block;
      margin-bottom: 40px;
    }

    .form__radio{
      position: relative;
      display: inline-block;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
      .form__radio input{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        outline: none;
        opacity: 0;
      }
      .form__radio--text{
        padding-left: 44px;
        position: relative;
        margin-top: -4px;
        display: inline-block;
      }
        .form__radio--text::before{
          content: "";
          position: absolute;
          z-index: 5;
          width: 40px;
          height: 25px;
          left: 0;
          top: 0;
          display: inline-block;
          background: url(../images/icon/radio.png) 100% 50% no-repeat;
        }

      input[type="radio"]:checked + .form__radio--text::before{
        background-position: 8% 50%;
      }

    .form__checkbox{
      position: relative;
      display: inline-block;
      margin-right: 25px;
    }
      .form__checkbox input{
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        opacity: 0;
        cursor: pointer;
      }
      .form__checkbox label{
        display: inline-block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-right: 10px;
        background: url(../images/icon/checkbox.png) 14% 50%;
      }

      input[type="checkbox"]:checked + label{
        background-position: 84% 50%;
      }

      /*.form__checkbox span{
        
      }*/

      .input_description{
        font-size: 14px;
        margin-top: 5px;
        display: inline-block;
      }

      .form_description{
        line-height: 2.3;
        margin-left: 20px;
      }



  .form__row select{
    background: #000;
    color: #fff;
    padding: 8px 19px;
    font-size: 16px;
    border: 1px solid #808080;
    width: 100%;
    outline: none;
  }


  .feedback{
    width: 395px;
  }
    .feedback .form__textarea{
      height: 200px;
    }

    .feedback .form__checkbox a{
      font-size: 15px;
      line-height: 1.5;
    }


  .form__error{
    display: none;
    font-size: 13px;
    font-family: Arial;
    color: #da2a2a;
  }

/*---------------  ACCORDION  --------------*/
  .accordion{
    width: 895px;
  }
    .accordion_item{
      border-top: 1px solid #fff;
      margin-bottom: 35px;
    }
      .accordion_item_link{
        padding-right: 30px;
        margin-bottom: 20px;
        cursor: pointer;
        background: url(../images/icon/accord_arr1.png) 100% 50% no-repeat;
        font-family: 'corporateacon', Helvatica, sans-serif;
      }

      .accordion_item .sub-menu{
        display: none;
        padding: 35px 45px;
        background-color: #222;
        line-height: 1.5;
        font-size: 14px;
        margin-bottom: 30px;
        font-family: Arial, sans-serif;
      }

      .accordion_item_link.active{
        background: url(../images/icon/accord_arr2.png) 100% 50% no-repeat;
      }


/*--------------  Page bottom  ------------*/
  .page_bottom{
    padding-bottom: 28px;
  }

    .page_bottom .up{
      font-size: 14px;
      color: #FFF;
      padding: 25px 0px 15px;
      position: relative;
      display: inline-block;
    }

      .page_bottom .up::after{
        content: "";
        width: 16px;
        height: 10px;
        margin-left: 5px;
        display: inline-block;
        background: url(../images/icon/arrow_up.png) 50% 50% no-repeat;
      }


/*-------------  BUTTONS  -------------*/
  .btn1{ /* w181 - h38 */
    font-size: 18px;
    width: 180px;
    line-height: 1.2;
    color: #FFF;
    padding: 6px 5px 9px;
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: #009AD5;
    border: 1px solid #009AD5;
    font-family: 'corporates', Arial, sans-serif;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn1:hover{
    color: #009AD5;
    background-color: #fff;
  }


/*---------------   Email   --------------*/
  .email{}
  
    .email .logo{
      width: 100%;
      display: inline-block;
    }
      .email .logo::after{display: none;}
      .email .logo img:first-child{
        text-align: left;
      }
      .email .logo img:last-child{
        float: right;
        margin-top: 30px;
      }
    
    .email .container{
      width: 630px;
    }
      .img_container_email--title{
        font-size: 48px;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: normal;
      }
    .full_title{
      padding: 10px;
      font-size: 13px;
      color: #9A9A9A;
      text-align: center;
      font-family: Arial;
      background-color: #1F1F1F;
    }
    .full_title a{color: #9A9A9A;}

    .email .footer__list{text-align: left;}

    /*.email .footer__list{text-align: center;}*/

/*---------------   Self page   --------------*/
  .self_page{
    padding-left: 10px;
    padding-right: 10px;
  }
    .self_page p{
      font-size: 14px;
      font-family: Arial;
    }

/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}
  .mb85{ margin-bottom: 85px;}
  .mb160{ margin-bottom: 160px;}


/*=====================> Lists ========================*/
  .list1{}
  .list1 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list1 a{}

  .list2{}
  .list2 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list2 a{}

  .list3{}
  .list3 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list3 a{}

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title--1{
    font-size: 80px;
    font-weight: normal;
  }

  .title--1_1{
    font-size: 60px;
    font-weight: normal;
    line-height: 1;
  }

  .title--2{
    font-size: 46px;
    line-height: ;
    font-weight: normal;
  }

  .title--3{
    font-size: 26px;
    line-height: ;
    font-weight: normal;
  } 

  .title--4{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
  }


  .fz_12,
  p.fz_12{font-size: 12px;}

  .hr1{
    border: none;
    height: 2px;
    width: 100%;
    margin-top: 0;
    display: inline-block;
    background-color: #494949;
  }


/*================================>> FONTS  <<========================================*/


@font-face {
    font-family: 'corporateacon';
    src: url('../font/corporateacon-reg-webfont.woff2') format('woff2'),
         url('../font/corporateacon-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corporates';
    src: url('../font/corporates-light-webfont.woff2') format('woff2'),
         url('../font/corporates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.corpa_reg{font-family: 'corporateacon', Helvatica, sans-serif;}
.corps_light{font-family: 'corporate_s_w15_lightregular', Helvatica, sans-serif;}
.arial{font-family: Arial, Helvatica, sans-serif;}


/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
  footer {
    padding:20px 5px 0;
  }
    .social{
      overflow:hidden;
    }
      .social a{
        display:block;
        float:left;
        opacity: 0.7;
        overflow:hidden;
        padding: 28px 0;
        margin-left:35px;
      }
      .social a:first-child{margin: 0 0 0 0;}
      .social a:hover{
        opacity: 1;
      }

  .footer__list{
    text-align: right;
  }

    .footer__list__item{
      position: relative;
      display: inline-block;
    }
    .footer__list__item:not(:last-child){
      padding-right: 15px;
    }
    .footer__list__item:last-child a{
      font-size: 14px;
    }
      .footer__list__item:not(:last-child)::after{
        content: "";
        width: 1px;
        height: 12px;
        display: inline-block;
        margin-left: 15px;
        background-color: #999;
      }

      .footer__list__item,
      .footer__list__item a{
        font-size: 13px;
        color: #999;
        line-height: 1;
        font-family: 'corporate_s_w15_lightregular', Arial, sans-serif;
      }
      .footer__list__item a:hover{
        color: #FFF;
      }

/*============================= Easy responsive tabs ============================*/


  .resp-tabs-list li {
      
  }


  h2.resp-accordion {
      display: none;
  }

  .resp-tab-content {
      display: none;
  }

  .resp-content-active, .resp-accordion-active {
      display: block;
  }

  .resp-easy-accordion  h2.resp-accordion {
          display: block;
  }

  .resp-tab-content-active {
      display: block;
  }


  @media only screen and (max-width: 768px) {
      ul.resp-tabs-list {
          display: none;
      }

      h2.resp-accordion {
          display: block;
      }

      
      .resp-accordion-closed {
          display:none !important;
      }
      
  }


/*============================ Arctic modal =============================*/
  .arcticmodal-overlay,
  .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
  .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
  *:first-child+html .arcticmodal-container { height: 100% }
  .arcticmodal-container_i { height: 100%; margin: 0 auto; }
  .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
  .arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
  .arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
  /*  Core Owl Carousel v1.3.2 CSS File  */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }
    
  .owl-carousel .owl-item{
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing { 
      cursor:url(grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }


/*------------  PLACEHOLDER  -----------*/

  input::-webkit-input-placeholder{
    transition: all 0.5s ease;
   
   font-size: 16px;
   font-family: 'corporates';
    font-weight: 400;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
   
   font-size: 16px;
   font-family: 'corporates';
    font-weight: 400;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
   
   font-size: 16px;
   font-family: 'corporates';
    font-weight: 400;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
   
   font-size: 16px;
   font-family: 'corporates';
    font-weight: 400;
    color: #fff;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  /*===  input end    ===*/

  /*===  textarea start  ===*/
  textarea::-webkit-input-placeholder{
      
    transition: all 0.5s ease;
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-family: 'corporates';
  }
  textarea::-moz-placeholder{
      
    transition: all 0.5s ease;
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-family: 'corporates';
  }
  textarea:-moz-placeholder{
      
    transition: all 0.5s ease;
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-family: 'corporates';
  }
  textarea:-ms-input-placeholder{
      
    transition: all 0.5s ease;
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-family: 'corporates';
  }

  textarea:focus::-webkit-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus::-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-ms-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  /*===  textarea end    ===*/

